html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom,  midnightblue, black);
    color: gold;
    background-repeat: no-repeat;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url('images/logo.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

a:hover {
    color: crimson;
}

a:visited {
    color: white;
}

img:hover {
    border: solid gold 4px;
}

.parent {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}